@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;800&display=swap");
#main-nav {
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  background-color: #222222e3;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 100;
}

#main-nav .nav-link {
  text-transform: uppercase;
  font-size: 0.8rem;
  letter-spacing: 0.15rem;
  margin: 0px 5px;
}

#main-nav #contact-link {
  color: black;
  background-color: #ffdc7c;
  border-radius: 20px;
  -webkit-transition: 300ms;
  transition: 300ms;
}

#main-nav #contact-link:hover {
  background-color: white;
  font-weight: 700;
}

body {
  font-family: 'Raleway', sans-serif;
  background-color: #ffdc7c;
  overflow-x: hidden;
  position: relative;
}

h3 {
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 300;
  letter-spacing: 0.2em;
  margin: 0;
  font-weight: 500;
}

#header-section {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.74)), to(rgba(255, 255, 255, 0.815))), url(../images/bg-marble.jpg);
  background-image: linear-gradient(rgba(255, 255, 255, 0.74), rgba(255, 255, 255, 0.815)), url(../images/bg-marble.jpg);
  background-size: cover;
  -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 80%);
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 80%);
}

#header-section img {
  max-width: 400px;
}

@media only screen and (max-width: 575px) {
  #header-section img {
    max-width: 50%;
  }
}

#header-section #header {
  height: 85vh;
}

#about-section {
  min-height: 40vh;
  scroll-margin-top: 15vh;
}

#about-section .accent-text {
  font-style: italic;
}

#about-section #right-col {
  border-left: 2px solid #ffeaaf;
}

#about-section #right-col .pull-quote {
  font-size: 2.5rem;
  letter-spacing: 0.3rem;
  font-weight: 300;
}

@media only screen and (max-width: 768px) {
  #about-section #right-col .pull-quote {
    font-size: 2rem;
  }
}

@media only screen and (max-width: 575px) {
  #about-section #right-col {
    border: none;
  }
  #about-section #right-col .pull-quote {
    font-weight: 400;
  }
}

#featured-work-section {
  -webkit-clip-path: polygon(0% 10%, 100% 0%, 100% 100%, 0% 100%);
  clip-path: polygon(0% 10%, 100% 0%, 100% 100%, 0% 100%);
  min-height: 50vh;
  background-color: #e9e9e9;
  padding: 25vh 0 10vh 0;
}

@media only screen and (max-width: 1200px) {
  #featured-work-section {
    -webkit-clip-path: polygon(0% 5%, 100% 0%, 100% 100%, 0% 100%);
    clip-path: polygon(0% 5%, 100% 0%, 100% 100%, 0% 100%);
  }
}

#featured-work-section .project-thumb {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  min-width: 25vw;
  position: relative;
  cursor: pointer;
}

#featured-work-section .project-thumb .thumb-overlay {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: #ffdc7c;
  opacity: 0;
  z-index: 1;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

#featured-work-section .project-thumb .thumb-overlay .project-title {
  margin: 30% 0 0 0;
  text-align: center;
  font-size: 1.5rem;
  -webkit-transition: 0.9s ease;
  transition: 0.9s ease;
}

@media only screen and (max-width: 1200px) {
  #featured-work-section .project-thumb {
    min-width: 33vw;
  }
}

@media only screen and (max-width: 768px) {
  #featured-work-section .project-thumb {
    min-width: 350px;
  }
}

#featured-work-section .project-thumb img {
  max-width: 100%;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

#featured-work-section .project-thumb:hover .thumb-overlay {
  opacity: 0.6;
}

#featured-work-section .project-thumb:hover .thumb-overlay .project-title {
  font-size: 1.2rem;
}

#featured-work-section .project-thumb:hover img {
  -webkit-filter: blur(5px);
          filter: blur(5px);
  overflow: hidden;
}

#capabilities-section {
  min-height: 40vh;
  padding: 10vh 0;
  scroll-margin-top: 7.8vh;
}

#capabilities-section .center-item {
  border-left: 2px solid #ffeaaf;
  border-right: 2px solid #ffeaaf;
}

@media only screen and (max-width: 575px) {
  #capabilities-section .center-item {
    border: none;
  }
}

#contact-section {
  padding: 10vh 0;
  background-color: #272727;
}

#contact-section ::-webkit-input-placeholder {
  font-family: 'Raleway', sans-serif;
  color: white;
}

#contact-section :-ms-input-placeholder {
  font-family: 'Raleway', sans-serif;
  color: white;
}

#contact-section ::-ms-input-placeholder {
  font-family: 'Raleway', sans-serif;
  color: white;
}

#contact-section ::placeholder {
  font-family: 'Raleway', sans-serif;
  color: white;
}

#contact-section #form-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#contact-section #form-div #contact-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 65%;
}

#contact-section #form-div #contact-form input[type="text"] {
  background: none;
  border: none;
  border-bottom: 1px solid #ffeaaf;
  padding: 10px 10px;
  margin: 10px;
  color: white;
  min-width: 40%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

@media only screen and (max-width: 575px) {
  #contact-section #form-div #contact-form input[type="text"] {
    min-width: 80%;
  }
}

#contact-section #form-div #contact-form input[type="text"]:focus {
  outline: none;
}

#contact-section #form-div #contact-form textarea {
  background: none;
  border: none;
  border-bottom: 1px solid #ffeaaf;
  padding: 10px 10px;
  margin: 10px;
  color: white;
  width: 100%;
}

#contact-section #form-div #contact-form textarea:focus {
  outline: none;
}

#contact-section #form-div #contact-form #submit-bttn-div {
  margin: 0 auto;
}

#contact-section #form-div #contact-form #submit {
  cursor: pointer;
  text-transform: uppercase;
  font-size: 0.8rem;
  letter-spacing: 0.15rem;
  font-weight: 800;
  color: white;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  padding: 10px 20px;
  width: 100%;
  border-radius: 20px;
  border: 1px solid #ffeaaf;
  background-color: transparent;
}

#contact-section #form-div #contact-form #submit:hover {
  color: black;
  background: #ffdc7c;
}

@media only screen and (max-width: 768px) {
  #contact-section #form-div #contact-form {
    width: 80%;
  }
}

@media only screen and (max-width: 575px) {
  #contact-section #form-div #contact-form {
    width: 100%;
  }
}

footer {
  min-height: 10vh;
  padding: 10vh 0;
  background-color: #272727;
}

footer p,
footer li a,
footer address {
  color: white;
  text-decoration: none;
}

footer .mt-logo {
  max-height: 75px;
}

footer .footer-link {
  text-transform: capitalize;
  font-size: 0.8rem;
}
/*# sourceMappingURL=App.css.map */